.Typo {
  display: flex;
  background-color: #8ff460;
  border-radius: 15px;
  padding: 5px 10px;
  color: black;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.7), 0 3px 5px 0 rgba(0, 0, 0, 0.7);
  direction: rtl;
  gap: 10px;
  width:fit-content;
  font-size: 1.5rem !important;
  font-weight: Bold;
  cursor: pointer;
  align-items: center;
  flex-direction: row;
  position: relative;
  left:20px

}

.boxContainer {
  min-width: 300px;
  min-height: 300px;
  position: relative;

}

.buttonStyles {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.liStyle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boxTypo {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 20px;
  
}

.ulStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 25px;
  display: flex;
  flex-direction: column;

  /* @media screen {
    place-items: center;
    display: grid;
    grid-template-columns: "1fr";
    padding-right: 12%;
  } */
}

/* .headLine{
  @media screen {
    display: grid;
    margin-top: 50%;
    place-content: center;
  }
} */