.boxContainer {
    align-items: center;
    gap: 30px;
    display: -webkit-box;
}

.boxCarosuel {
    object-fit: contain;
    padding-left: 15%;
    padding-right: auto;

}

.boxTypo {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.Typo{
    font-size: 1.5rem !important;
    direction: rtl;
}

.ulStyle{
    list-style-type: none;
     direction: rtl;
     text-align: justify
}