.blueBox {
    background: linear-gradient(90deg, #90caf9, #047edf 99%);
}

.box img {
    position: absolute;
    right: 0;

}

.box {
    width: 250px;
    height: 219px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    flex-direction: column;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(186, 66, 66, 0.2);

}

.boxContainer {
    display: flex;
    gap: 70px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.boxDes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.boxPyramid {
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: auto;
}

.buttonBox {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    position: inherit;
    z-index: 100;
    margin-top: auto;
}

.ModalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    
}

.buttonClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.liStyles {
    display: flex;
    align-items: center;
    gap: 10px;
    direction: rtl;
    margin-bottom: 15px;
}

.Typo {
    font-size: 1.5rem !important;
    direction: rtl;
}

.imgStyle {
    height: 50px !important;
}